
<div id="mycookie" (click)="aceptCookie()" class="alert negro-alert alert-warning alert-dismissible fade show" role="alert" data-dismiss="alert" aria-label="Close">

  <p><strong>Atención: </strong>Este sitio web utiliza cookies propias y de terceros para ofrecer un mejor servicio. Si continúa navegando consideramos que acepta su uso.
  </p>


</div>




<div class="uno">
  <div class="bgimg-1"></div>

  <div class="caption">
    <span class="border"><strong>Line</strong>ryn.com</span>
  </div>

</div>






<div class="blanco">

  <h3>soluciones web personalizadas</h3>
  <br />
  <p>Creamos soluciones web personalizadas con las mejores tecnologías de acuerdo a las necesidades de su empresa, ya que cada negocio es diferente y necesita soluciones personalizadas que se adapten al giro empresarial</p>
  <div class="center mt-5">
    <img src="./assets/images/angular.svg" alt="Angular" class="iconos">
    <img src="./assets/images/html.svg"  alt="html" class="iconos">
    <img src="./assets/images/css.svg"  alt="css" class="iconos">
    <img src="./assets/images/npm.svg"  alt="npm" class="iconos">
    <img src="./assets/images/googleCloud.svg"  alt="googleCloud" class="iconos">
    <img src="./assets/images/sass.svg"  alt="sass" class="iconos">
    <img src="./assets/images/yarn.svg"  alt="yarn" class="iconos">
    <img src="./assets/images/php.svg"  alt="php" class="iconos">
    <img src="./assets/images/j.svg"  alt="jquery" class="iconos">
    <img src="./assets/images/mysql.svg"  alt="mysql" class="iconos">
    <img src="./assets/images/nodejs.svg"  alt="nodejs" class="iconos">
    <img src="./assets/images/js.svg"  alt="javascript" class="iconos">
  </div>

</div>

<div class="bgimg-2">
  <div class="caption">
    <span class="noche">
      EXPERTO EN TECNOLOGÍAS WEB
    </span>
  </div>
</div>


<div class="negro">
  <h3>DISEÑO & DESARROLLO WEB INTELIGENTE</h3>
  <br />
  <p>Creación de interfaces web desde el backend hasta el frontend a si como desarrollo de herramientas administrativas, aplicaciones web en tiempo real, seguridad, consumo y creación de APIREST, RESTFUL
  </p>
  <p>Busco crear proyectos eficientes respetando procesos bien definidos. Si te interesa nuestra forma de trabajo, no dudes en contactarnos para conversar sobre tu proyecto.</p>
</div>


<div class="bgimg-3">
  <div class="caption">
    <span class="noche">Desarrollo de software</span>
  </div>
</div>


<div class="blanco">
  <h3>Contactanos</h3>
  <br />
  <p>Especialista en el diseño de software acorde a las necesidades requeridas asegurando el funcionamiento y aplicación de las soluciones más convenientes. El conocimiento mutuo, la comunicación directa y sincera y el compromiso con los resultados, son los pilares fundamentales en la forma de concebir las relaciones empresariales.</p>

</div>






<div class="uno">
  <div class="bgimg-1"></div>
  <div class="caption">
    <span class="border"><strong>Line</strong>ryn.com</span>
  </div>

</div>

<div class="negro">
  <h3>CONTACTANOS</h3>
  <br />
  <p>Cuéntanos más acerca de tu proyecto para crearte un presupuesto que se adapte a tu economía. Realiza una descripcion de tu proyecto lo mas detallada posible y nosotros nos pondremos en contacto. <strong>Por el momento Solo aceptamos trabajos en Español</strong></p>

  <p>Toda la información enviada es confidencial</p>
  <app-contacto></app-contacto>
  <br />
</div>


